$primary-color: #2b6b2f;
$container-bg: #1f2d38;
$input-bg: #2a3e4d;
$button-bg: #27a167;
$button-bg-hover: #1f8950;
$text-color-primary: #ffffff;
$text-color-secondary: #c1c1c1;

.login-container {
    background-color: $container-bg;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: $text-color-primary;
    margin: 5% auto;

    h2 {
        margin-bottom: 20px;
    }

    form {
        .form-group {
            margin-bottom: 20px;

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid $input-bg;
                border-radius: 5px;
                background-color: $input-bg;
                color: $text-color-primary;
                font-size: 1em;
                outline: none;

                &:focus {
                    border-color: lighten($input-bg, 15%);
                }
            }
        }

        .login-btn {
            background-color: $button-bg;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $button-bg-hover;
            }
        }
    }

    .forgot-password {
        margin-top: 10px;
        color: lighten($button-bg, 15%);
        cursor: pointer;

        a {
            color: lighten($button-bg, 15%);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .signup-redirect {
        margin-top: 20px;
        color: $text-color-secondary;

        a {
            color: lighten($button-bg, 15%);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 768px) {
    .login-container {
        padding: 15px;
        max-width: 90%;
        h2 {
            font-size: 1.3em;
        }
        form {
            .form-group input {
                padding: 8px;
                font-size: 0.9em;
            }
            .login-btn {
                padding: 8px 15px;
                font-size: 0.9em;
            }
        }
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 10px;
        h2 {
            font-size: 1.1em;
        }
        form {
            .form-group input {
                padding: 6px;
                font-size: 0.8em;
            }
            .login-btn {
                padding: 6px 12px;
                font-size: 0.8em;
            }
        }
    }
}
